/* General */
body {
  font-family: 'Arial ', sans-serif;
  background-color: #000000; /* fondo negro */
  color: #FFFFFF; /* texto blanco */
  margin: 0;
  padding: 0;
}
/* Encabezados */
h1, h2 {
  color: #00AEEF; /* azul brillante */
}

/* Navegación */
nav ul {
  list-style-type: none;
  padding: 10px;
  background-color: #111111; /* gris muy oscuro */
  text-align: center;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

nav a:hover {
  color: #00AEEF;
}

/* Secciones */
section {
  padding: 20px;
  background-color: #111111; /* fondo oscuro grisáceo */
  margin: 10px;
  border: 1px solid #444444;
}

/* Imágenes */
img {
  width: 100%;
  height: auto;
  border: 2px solid #00AEEF;
}

/* Formularios */
input, textarea {
  background-color: #333333;
  color: #FFFFFF;
  border: 1px solid #00AEEF;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #00AEEF;
  color: #000000;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #007aab;
}

/* Footer */
footer {
  background-color: #000000;
  color: #CCCCCC;
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
}

h3 {
  color: #00AEEF;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
  border-left: 5px solid #00AEEF;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section {
  background-color: #111111;
  padding: 30px;
  border-radius: 10px;
}

section p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.whatsapp:hover {
  color: #00ef00;
}

.instagram:hover {
  color: #d300ef;
}