/* General */
body {
  font-family: 'Arial ', sans-serif;
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: 0;
}
/* Encabezados */
h1, h2 {
  color: black; /* azul brillante */
}

/* Navegación */
.logo img{
  width: 200px;
  height: 100px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
}
.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}
.navbar{
  display: flex;
  align-items: center;
justify-content: space-evenly;
  background-color: white;
  border-bottom: 1px solid #ccc;
  
}
nav li {
  display: flex;
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
}
nav a:hover {
  color: #00AEEF;
}
/* Secciones */

.presentacion {
  text-align: center;
  padding: 25px 20px;
  background-color: #f8f9fa;
}

.presentacion h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.presentacion p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.contenedor-media {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.media-box {
  width: 300px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.media-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.titulo-productos {
font-size: 70px;
  font-weight: bold;
  color: #333;
}
.presentacion-2{
  text-align: center;
  padding: 1px 30px;
  background-color: #f8f9fa;
}
/*GRID*/
.presentacion-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #f5f5f5;
}

.element {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.40);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: black;
}

.element img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.element p {
margin-top: 8px;
    font-size: 25px;
    line-height: 0.4;
}
footer{
display: flex;
    padding: 30px;
    justify-content: center;
}
.whatsapp:hover {
  color: #00ef00;
}

.instagram:hover {
  color: #d300ef;
}