$color-principal: #00aeef;
$color-secundario: #9a6dfd;
$color-terciario: #6dfd79;
$color-fondo: whitesmoke;
$color-texto: #333;
$color-titulos: #00aeef;
$color-shadow: rgba(0, 0, 0, 0.3);

$fuente-base: "Arial", sans-serif;

$font-size-base: 16px;
$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-p: 1rem;

$padding-seccion: 30px;
$gap-grande: 100px;
