.contacto {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 3em;
    margin-bottom: 30px;
    font-weight: 900;
    color: #00aeef;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  label {
    text-align: left;
    font-weight: bold;
  }

  input,
  textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  textarea {
    resize: vertical;
    height: 100px;
  }
}

.botones-contacto {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  border: 2px solid #00aeef;
  padding: 10px 20px;
  text-decoration: none;
  color: #00aeef;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #00aeef;
    color: white;
  }
}

.btn-contacto-ig {
  border: 2px solid #9a6dfd;
  color: #9a6dfd;

  &:hover {
    background-color: #9a6dfd;
    color: white;
  }
}

.btn-contacto-ws {
  border: 2px solid #6dfd79;
  color: #6dfd79;

  &:hover {
    background-color: #6dfd79;
    color: white;
  }
}